/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
header{
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 7vw;
}
nav ul{
    display: flex;
    gap: 5vw;
}
nav ul > li {
    list-style: none;
}